<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="apple-touch-icon" sizes="180x180" href="imgs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Login</title>
</head>

<body>
  <section class="vh-100" style="background-color: #00C459;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Login</h3>
              <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                  <%= errorMessage %>
                </div>
                <% } %>
                  <form action="/auth" method="post">
                    <div class="form-outline mb-4">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="input-username" name="username">
                        <label for="input-username">Usuário</label>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <div class="form-floating">
                        <input type="password" class="form-control" id="input-password" name="password">
                        <label for="floatingPassword">Senha</label>
                      </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-start mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                      <label class="form-check-label" for="form1Example3">Lembrar Senha</label>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                  </form>
                  <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>