<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="apple-touch-icon" sizes="180x180" href="imgs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon-16x16.png">
  <title>Login</title>
</head>

<body style="background-color: #00C459;">
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="d-flex justify-content-center">
                <img src="imgs/logo.png" class="mb-1" alt="Logo da São Judas">
              </div>
              <h3 class="mb-3 mt-3">Login</h3>

              <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                  <%= errorMessage %>
                </div>
                <% } %>
                  <form action="/authentication" method="post">
                    <div class="form-outline mb-4">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="input-username" name="username" required>
                        <label for="username">Usuário</label>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <div class="form-floating">
                        <input type="password" class="form-control" id="input-password" name="password" required>
                        <label for="password">Senha</label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mb-3" type="submit">Login</button>
                  </form>
                  <p><a href="#"
                      class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mt-3">Esqueceu
                      a senha?</a></p>
                  <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
